## 0.1 Process data

In [1]:
%load_ext autoreload
%autoreload 2

## Libraries

In [13]:
import final_project.utils.paths as path
import matplotlib.pyplot as plt
import pandas as pd

### Read data

In [14]:
input_covid_file = path.data_raw_dir("time_series_covid19_confirmed_global.csv")

In [15]:
covid_df = pd.read_csv(input_covid_file)
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Columns: 900 entries, Province/State to 7/5/22
dtypes: float64(2), int64(896), object(2)
memory usage: 2.0+ MB

In [16]:
covid_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/26/22,6/27/22,6/28/22,6/29/22,6/30/22,7/1/22,7/2/22,7/3/22,7/4/22,7/5/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,182149,182228,182324,182403,182528,182594,182643,182724,182793,182793
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,279077,279077,279167,280298,280851,281470,282141,282690,282690,282690
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,266038,266049,266062,266073,266087,266105,266115,266128,266173,266173
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,43774,43774,43774,43774,43774,44177,44177,44177,44177,44177
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,99761,99761,101320,101320,101320,101320,101320,101320,101320,101320

### Function to process data

In [17]:
processed_df = (
    covid_df
    .select_columns(["Country/Region", "*/*/*"])
    .pivot_longer(
        index="Country/Region",
        names_to="date"
    )
    .transform_column("date", pd.to_datetime)
    .clean_names()
)

processed_df.head()

  country_region       date  value
0    Afghanistan 2020-01-22      0
1        Albania 2020-01-22      0
2        Algeria 2020-01-22      0
3        Andorra 2020-01-22      0
4         Angola 2020-01-22      0

### Save output data

In [ ]:
output_covid_file = path.data_processed_dir("time_series_covid19_confirmed_global_processed.csv")

In [ ]:
processed_df.to_csv(output_covid_file, index=False)